USE [master]
GO
/****** Object:  Database [User]    Script Date: 8/15/2026 1:15:33 PM ******/
CREATE DATABASE [User]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'User', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\User.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'User_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\User_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [User].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [User]
GO
/****** Object:  User [UserDbAdmin]    Script Date: 8/15/2026 1:15:38 PM ******/
CREATE USER [UserDbAdmin] FOR LOGIN [UserDbAdmin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [UserDbAdmin]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 8/15/2026 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[Mobile] [nvarchar](12) NOT NULL,
	[CharityId] [int] NULL,
	[UserType] [bit] NOT NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
	[IsRoot] [bit] NOT NULL,
	[Sex] [bit] NOT NULL,
 CONSTRAINT [PK_AdminUser] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignCategories]    Script Date: 8/15/2026 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignCategories](
	[CampaignId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
 CONSTRAINT [PK_CampaignCategories] PRIMARY KEY CLUSTERED 
(
	[CampaignId] ASC,
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Campaigns]    Script Date: 8/15/2026 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Campaigns](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](18, 2) NULL,
	[ChargedAmount] [decimal](18, 2) NULL,
	[BannerId] [int] NULL,
	[CityId] [int] NOT NULL,
	[CharityId] [int] NOT NULL,
	[CampaignStatus] [int] NOT NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
	[ModifiedAt] [smalldatetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Campaigns] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CampaignStatuses]    Script Date: 8/15/2026 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CampaignStatuses](
	[Status] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CampaignStatuses] PRIMARY KEY CLUSTERED 
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 8/15/2026 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
	[ModifiedAt] [smalldatetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Charities]    Script Date: 8/15/2026 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Charities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Website] [nvarchar](255) NULL,
	[CreatedByUserId] [int] NOT NULL,
	[Address] [nvarchar](max) NULL,
	[CityId] [int] NULL,
	[Telephone] [varchar](15) NULL,
	[ManagerName] [nvarchar](50) NULL,
	[LogoId] [int] NULL,
	[BannerId] [int] NULL,
	[ContactName] [nvarchar](50) NULL,
	[ContactPhone] [varchar](15) NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
	[ModifiedAt] [smalldatetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Charities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CharityCategories]    Script Date: 8/15/2026 1:15:38 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CharityCategories](
	[CharityId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cities]    Script Date: 8/15/2026 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cities](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Abbreviation] [varchar](20) NOT NULL,
	[CityId] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Cities] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SocialCharity]    Script Date: 8/15/2026 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SocialCharity](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[socialId] [int] NOT NULL,
	[charityId] [int] NOT NULL,
	[value] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SocialCharity] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Socials]    Script Date: 8/15/2026 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Socials](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Abbreviation] [nvarchar](10) NOT NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
	[ModifiedAt] [smalldatetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Socials] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoredFiles]    Script Date: 8/15/2026 1:15:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoredFiles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](255) NOT NULL,
	[FilePath] [nvarchar](500) NOT NULL,
	[FileType] [nvarchar](100) NOT NULL,
	[CreatedAt] [smalldatetime] NOT NULL,
	[ModifiedAt] [smalldatetime] NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_StoredFiles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[AdminUsers] ON 

INSERT [dbo].[AdminUsers] ([Id], [Name], [UserName], [PasswordHash], [Mobile], [CharityId], [UserType], [CreatedAt], [IsDeleted], [IsAdmin], [IsRoot], [Sex]) VALUES (1004, N'Bita Nasry', N'bita', N'AQAAAAIAAYagAAAAENe16Eux/QaeaiVK4zGGCzvRCA/zzULKXHbtkTAQ+QfgE16ILyynujOA4NGChu1ZVA==', N'09148743432', NULL, 0, CAST(N'2026-07-14T22:38:00' AS SmallDateTime), 0, 0, 1, 0)
INSERT [dbo].[AdminUsers] ([Id], [Name], [UserName], [PasswordHash], [Mobile], [CharityId], [UserType], [CreatedAt], [IsDeleted], [IsAdmin], [IsRoot], [Sex]) VALUES (1005, N'kimia hosseini user', N'kimia', N'AQAAAAIAAYagAAAAEH+KQpoPICh/IAgtnypfbF/I7N0oI8tH0wQhc5hp8XC+x36GaUMFIM6NGJh7xVJmaA==', N'09123334455', NULL, 0, CAST(N'2026-07-14T22:40:00' AS SmallDateTime), 0, 0, 1, 1)
INSERT [dbo].[AdminUsers] ([Id], [Name], [UserName], [PasswordHash], [Mobile], [CharityId], [UserType], [CreatedAt], [IsDeleted], [IsAdmin], [IsRoot], [Sex]) VALUES (1006, N'System Admin', N'SystemAdmin', N'AQAAAAIAAYagAAAAEAZlGwquE8EoR/mWAzYixDJf/XliXpcOpkMsKeHpFjrtJZQCjHAkOsVhqQ0TxIvp2w==', N'09148919043', NULL, 0, CAST(N'2026-07-15T08:20:00' AS SmallDateTime), 0, 0, 1, 0)
SET IDENTITY_INSERT [dbo].[AdminUsers] OFF
GO
INSERT [dbo].[CampaignCategories] ([CampaignId], [CategoryId]) VALUES (2, 27)
INSERT [dbo].[CampaignCategories] ([CampaignId], [CategoryId]) VALUES (2, 30)
INSERT [dbo].[CampaignCategories] ([CampaignId], [CategoryId]) VALUES (3, 31)
GO
SET IDENTITY_INSERT [dbo].[Campaigns] ON 

SET IDENTITY_INSERT [dbo].[Campaigns] OFF
GO
INSERT [dbo].[CampaignStatuses] ([Status], [Name]) VALUES (1, N'Created')
INSERT [dbo].[CampaignStatuses] ([Status], [Name]) VALUES (2, N'Approved')
INSERT [dbo].[CampaignStatuses] ([Status], [Name]) VALUES (3, N'Rejected')
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (27, N'حمایت از کودکان کار', CAST(N'2026-07-01T17:27:00' AS SmallDateTime), CAST(N'2026-07-01T17:27:00' AS SmallDateTime), 0)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (28, N'کمک به بیماران خاص', CAST(N'2026-07-01T17:27:00' AS SmallDateTime), CAST(N'2026-07-01T17:27:00' AS SmallDateTime), 0)
INSERT [dbo].[Categories] ([Id], [Name], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (29, N'حمایت از سالمندان', CAST(N'2026-07-01T17:27:00' AS SmallDateTime), CAST(N'2026-07-01T17:27:00' AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Charities] ON 

SET IDENTITY_INSERT [dbo].[Charities] OFF
GO
INSERT [dbo].[CharityCategories] ([CharityId], [CategoryId]) VALUES (1051, 28)
INSERT [dbo].[CharityCategories] ([CharityId], [CategoryId]) VALUES (43, 35)
INSERT [dbo].[CharityCategories] ([CharityId], [CategoryId]) VALUES (43, 28)
GO
SET IDENTITY_INSERT [dbo].[Cities] ON 

INSERT [dbo].[Cities] ([Id], [Name], [Abbreviation], [CityId]) VALUES (1, N'اسکو', N'Oskoo', N'101001')
INSERT [dbo].[Cities] ([Id], [Name], [Abbreviation], [CityId]) VALUES (2, N'ایلخچی', N'Ilikhchi', N'101002')
INSERT [dbo].[Cities] ([Id], [Name], [Abbreviation], [CityId]) VALUES (3, N'سهند', N'Sahand', N'101003')
GO
SET IDENTITY_INSERT [dbo].[Cities] OFF
GO
SET IDENTITY_INSERT [dbo].[SocialCharity] ON 

INSERT [dbo].[SocialCharity] ([id], [socialId], [charityId], [value]) VALUES (35, 42, 43, N'https://instagram.com/pegahemehr_shop')
INSERT [dbo].[SocialCharity] ([id], [socialId], [charityId], [value]) VALUES (36, 42, 43, N'https://instagram.com/pegahemehr_org')
INSERT [dbo].[SocialCharity] ([id], [socialId], [charityId], [value]) VALUES (37, 45, 43, N'https://linkedin.com/company/pegahemehr')
SET IDENTITY_INSERT [dbo].[SocialCharity] OFF
GO
SET IDENTITY_INSERT [dbo].[Socials] ON 

INSERT [dbo].[Socials] ([Id], [Name], [Abbreviation], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (42, N'اینستاگرام', N'Instagram', CAST(N'2026-07-08T10:17:00' AS SmallDateTime), CAST(N'2026-07-08T10:17:00' AS SmallDateTime), 0)
INSERT [dbo].[Socials] ([Id], [Name], [Abbreviation], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (43, N'تلگرام', N'Telegram', CAST(N'2026-07-08T10:17:00' AS SmallDateTime), CAST(N'2026-07-08T10:17:00' AS SmallDateTime), 0)
INSERT [dbo].[Socials] ([Id], [Name], [Abbreviation], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (44, N'واتسپ', N'WhatsApp', CAST(N'2026-07-08T10:17:00' AS SmallDateTime), CAST(N'2026-08-09T09:40:00' AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[Socials] OFF
GO
SET IDENTITY_INSERT [dbo].[StoredFiles] ON 

INSERT [dbo].[StoredFiles] ([Id], [FileName], [FilePath], [FileType], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (19, N'62b2c717-4282-4030-b656-c514bd35ed01.jpg', N'/uploads/charities/logos/62b2c717-4282-4030-b656-c514bd35ed01.jpg', N'image/jpeg', CAST(N'2026-07-02T06:19:00' AS SmallDateTime), CAST(N'2026-07-02T06:19:00' AS SmallDateTime), 0)
INSERT [dbo].[StoredFiles] ([Id], [FileName], [FilePath], [FileType], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (20, N'460ad235-cc3b-4b57-a75c-027adf2c560e.jpg', N'/uploads/charities/banners/460ad235-cc3b-4b57-a75c-027adf2c560e.jpg', N'image/jpeg', CAST(N'2026-07-02T06:19:00' AS SmallDateTime), CAST(N'2026-07-02T06:19:00' AS SmallDateTime), 0)
INSERT [dbo].[StoredFiles] ([Id], [FileName], [FilePath], [FileType], [CreatedAt], [ModifiedAt], [IsDeleted]) VALUES (21, N'e3e09f92-4d1c-4d45-a1f6-9be7e284f197.png', N'/uploads/charities/logos/e3e09f92-4d1c-4d45-a1f6-9be7e284f197.png', N'image/png', CAST(N'2026-07-02T06:38:00' AS SmallDateTime), CAST(N'2026-07-02T06:38:00' AS SmallDateTime), 0)
SET IDENTITY_INSERT [dbo].[StoredFiles] OFF
GO
ALTER TABLE [dbo].[CampaignCategories]  WITH CHECK ADD  CONSTRAINT [FK_CampaignCategories_Campaigns_CampaignId] FOREIGN KEY([CampaignId])
REFERENCES [dbo].[Campaigns] ([Id])
GO
ALTER TABLE [dbo].[CampaignCategories] CHECK CONSTRAINT [FK_CampaignCategories_Campaigns_CampaignId]
GO
ALTER TABLE [dbo].[CampaignCategories]  WITH CHECK ADD  CONSTRAINT [FK_CampaignCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[CampaignCategories] CHECK CONSTRAINT [FK_CampaignCategories_Categories_CategoryId]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [FK_Campaigns_Charities_CharityId] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [FK_Campaigns_Charities_CharityId]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [FK_Campaigns_Cities_CityId] FOREIGN KEY([CityId])
REFERENCES [dbo].[Cities] ([Id])
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [FK_Campaigns_Cities_CityId]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [FK_Campaigns_StoredFiles_BannerId] FOREIGN KEY([BannerId])
REFERENCES [dbo].[StoredFiles] ([Id])
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [FK_Campaigns_StoredFiles_BannerId]
GO
ALTER TABLE [dbo].[Charities]  WITH CHECK ADD  CONSTRAINT [FK_Charities_StoredFiles_BannerId] FOREIGN KEY([BannerId])
REFERENCES [dbo].[StoredFiles] ([Id])
GO
ALTER TABLE [dbo].[Charities] CHECK CONSTRAINT [FK_Charities_StoredFiles_BannerId]
GO
ALTER TABLE [dbo].[Charities]  WITH CHECK ADD  CONSTRAINT [FK_Charities_StoredFiles_LogoId] FOREIGN KEY([LogoId])
REFERENCES [dbo].[StoredFiles] ([Id])
GO
ALTER TABLE [dbo].[Charities] CHECK CONSTRAINT [FK_Charities_StoredFiles_LogoId]
GO
ALTER TABLE [dbo].[CharityCategories]  WITH CHECK ADD  CONSTRAINT [FK_CharityCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CharityCategories] CHECK CONSTRAINT [FK_CharityCategories_Categories_CategoryId]
GO
ALTER TABLE [dbo].[CharityCategories]  WITH CHECK ADD  CONSTRAINT [FK_CharityCategories_Charities_CharityId] FOREIGN KEY([CharityId])
REFERENCES [dbo].[Charities] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CharityCategories] CHECK CONSTRAINT [FK_CharityCategories_Charities_CharityId]
GO
ALTER TABLE [dbo].[SocialCharity]  WITH CHECK ADD  CONSTRAINT [FK_SocialCharity_Charities] FOREIGN KEY([charityId])
REFERENCES [dbo].[Charities] ([Id])
GO
ALTER TABLE [dbo].[SocialCharity] CHECK CONSTRAINT [FK_SocialCharity_Charities]
GO
ALTER TABLE [dbo].[SocialCharity]  WITH CHECK ADD  CONSTRAINT [FK_SocialCharity_Socials] FOREIGN KEY([socialId])
REFERENCES [dbo].[Socials] ([Id])
GO
ALTER TABLE [dbo].[SocialCharity] CHECK CONSTRAINT [FK_SocialCharity_Socials]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [CK_CreatedAt_Range1] CHECK  (([CreatedAt]>='1900-01-01' AND [CreatedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [CK_CreatedAt_Range1]
GO
ALTER TABLE [dbo].[Campaigns]  WITH CHECK ADD  CONSTRAINT [CK_ModifiedAt_Range1] CHECK  (([ModifiedAt] IS NULL OR [ModifiedAt]>='1900-01-01' AND [ModifiedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Campaigns] CHECK CONSTRAINT [CK_ModifiedAt_Range1]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [CK_CreatedAt_Range2] CHECK  (([CreatedAt]>='1900-01-01' AND [CreatedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [CK_CreatedAt_Range2]
GO
ALTER TABLE [dbo].[Categories]  WITH CHECK ADD  CONSTRAINT [CK_ModifiedAt_Range2] CHECK  (([ModifiedAt] IS NULL OR [ModifiedAt]>='1900-01-01' AND [ModifiedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Categories] CHECK CONSTRAINT [CK_ModifiedAt_Range2]
GO
ALTER TABLE [dbo].[Charities]  WITH CHECK ADD  CONSTRAINT [CK_CreatedAt_Range3] CHECK  (([CreatedAt]>='1900-01-01' AND [CreatedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Charities] CHECK CONSTRAINT [CK_CreatedAt_Range3]
GO
ALTER TABLE [dbo].[Charities]  WITH CHECK ADD  CONSTRAINT [CK_ModifiedAt_Range3] CHECK  (([ModifiedAt] IS NULL OR [ModifiedAt]>='1900-01-01' AND [ModifiedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Charities] CHECK CONSTRAINT [CK_ModifiedAt_Range3]
GO
ALTER TABLE [dbo].[Socials]  WITH CHECK ADD  CONSTRAINT [CK_CreatedAt_Range7] CHECK  (([CreatedAt]>='1900-01-01' AND [CreatedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Socials] CHECK CONSTRAINT [CK_CreatedAt_Range7]
GO
ALTER TABLE [dbo].[Socials]  WITH CHECK ADD  CONSTRAINT [CK_ModifiedAt_Range7] CHECK  (([ModifiedAt] IS NULL OR [ModifiedAt]>='1900-01-01' AND [ModifiedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[Socials] CHECK CONSTRAINT [CK_ModifiedAt_Range7]
GO
ALTER TABLE [dbo].[StoredFiles]  WITH CHECK ADD  CONSTRAINT [CK_CreatedAt_Range8] CHECK  (([CreatedAt]>='1900-01-01' AND [CreatedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[StoredFiles] CHECK CONSTRAINT [CK_CreatedAt_Range8]
GO
ALTER TABLE [dbo].[StoredFiles]  WITH CHECK ADD  CONSTRAINT [CK_ModifiedAt_Range8] CHECK  (([ModifiedAt] IS NULL OR [ModifiedAt]>='1900-01-01' AND [ModifiedAt]<='2079-06-06'))
GO
ALTER TABLE [dbo].[StoredFiles] CHECK CONSTRAINT [CK_ModifiedAt_Range8]
GO
USE [master]
GO
